.header-wrapper {
   width: 100%;
}

.nav-wrapper{
  justify-content: space-between;
}

.nav-wrapper .logo .mobileLogo{
  display: none;
}
.search-bar {
  /* width: 32.8125rem; */
  width: 45.8125rem;
  padding: 0.175rem 0.425rem;
  border-radius: 0.375rem;
  border: 2px solid var(--gray-300, #d1d5db);
}

.search-bar input {
  color: #FFF;
  font-size: 1rem;
  flex: 1;
  border: none;
  outline: none;
  padding: 4px;
  background-color: transparent;
}

.search-bar input::placeholder {
  color: var(--white, #fff);  
  font-family: "DM Sans", sans-serif; 
  font-size: 1rem;  
  font-style: normal; 
  font-weight: 200; 
  line-height: 1.5rem; 
}
.search-bar input:focus {
  border-color: red;
  box-shadow: 0 0 5px rgba(160, 50, 50, 0.2);
}

.search-icon {
  padding: 0 8px;
}

.search-icon img {
  width: 16px;
  height: 16px;
}

.search-icon:hover{
  cursor: pointer;
  border:2px solid grey;

}
 
.sign-in {
    margin-right: 1rem;  
  }

  
.sign-in button{
    background: none; 
 border: none;
    text-decoration: none;  
    color: var(--white, #FFF);  
    font-family: 'DM Sans', sans-serif;  
    font-size: 1rem; 
    font-style: normal;  
    font-weight: 400; 
    line-height: 1.5rem; 
}
.hamburger-menu {
    width: 2.75rem;
    /* height: 1.5rem; */
    background-image: url('../../assets/icons/Ellipse1.svg');
    background-size: cover;  
    background-repeat: no-repeat;
    padding: 0.2rem;
    cursor: pointer; 
}


.search-bar-container {
  position: relative;

}

.search-bar-container .movie_dropdown {
  position: absolute;
  background: white;
  color:black;
  list-style: none;
  width: 100%;
  max-width: 300px;
  padding:10px;
  top:40px;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.search-bar-container .movie_dropdown  li{
  padding:10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  
}

.search-bar-container .movie_dropdown  li:hover{
  background-color: aquamarine;
}

@media  (min-width: 280px) and (max-width: 768px) {
.nav-wrapper .logo .desktopLogo {
display: none;
}

.nav-wrapper .logo .mobileLogo {
  display: block;
  margin-right: 1rem;
  
}

.search-bar {
  width: auto;

}

}