.footer-container {
  height: 10rem;
  margin: 0 auto;
}
.f-w {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
}

.f-w .socials {
  gap: 3rem;
}
.f-w .links {
  gap: 3rem;
  color: #111827;
  font-size: 1.125rem;
  font-weight: 700;
}
 

.f-w .deets {
  color: #6b7280;
  font-size: 1.125rem;
  font-weight: 700;
}
 

@media (max-width:768px){
 .f-w .links{
  font-size: 10px;
 }
}